@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply font-sans;
  }
}

.mt-8 {
  @apply mt-20;
}

.containers {
  @apply w-full;
}

.footerSuBcontainer {
  @apply flex justify-between w-[70%] h-4/5 mt-10;
}

.header-logo {
  @apply bg-[white] h-fit;
}

.serchBar {
  @apply absolute h-[50px] flex justify-center w-6/12 left-1/4 top-[200px];
}

.serchBar input {
  @apply w-fit w-6/12 pl-2.5 rounded-tr-[5px] rounded-br-[5px] border-[none];
  outline: none;
}

.searchlogo {
  @apply w-[50px] flex justify-center items-center rounded-tl-[5px] rounded-bl-[5px];
}

.booking-detail-container {
  @apply flex justify-center items-center mt-[70px];
}

.booking-subdetails-container {
  @apply w-4/5 pt-[50px];
}

.stepbar {
  @apply mt-[71px];
}

.bookingdeatils {
  @apply mt-[50px];
}

.booking_timing {
  @apply bg-[white] w-full p-5 rounded-[5px];
}

.salon-list {
  @apply w-[35%] rounded-[5px];
}

hr {
  @apply border mt-10 border-solid border-[white];
}

.total_flex {
  @apply flex w-[70%] justify-between relative left-[10%];
}

.payment {
  @apply mt-[71px];
}

.verticle_line {
  @apply h-screen w-0.5;
}

.promocode_input {
  @apply h-10 pl-[5px] rounded-tl-[5px] rounded-bl-[5px] border-[none];
  outline: none;
}

.promo_btn {
  @apply h-10 text-[white] font-bold px-[5px] rounded-tr-[5px] rounded-br-[5px];
}

.top-trending-services {
  @apply flex justify-center;
}

.artist_center {
  @apply flex justify-center;
}

.Service-info {
  @apply min-w-[300px];
  /* animation-name: slideInBox;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-delay: 0.01s;
  animation-iteration-count: infinite; */
}

.services-box {
  @apply flex justify-center flex-wrap
}

.artist-full-details {
  @apply mt-[71px];
}

.salon_partner {
  @apply flex justify-center;
}

.search {
  @apply flex justify-around items-center p-1 rounded-[20px];
}

.search input {
  @apply p-[5px] border-[none];
  outline: none;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #eae6e6;
}

::-webkit-scrollbar-thumb {
  background: #ed4c5a;
}

@keyframes slideInBox {
  0% {
    transform: translateX(550%);
  }

  100% {
    transform: translateX(-580%);
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}
