@tailwind base;
@tailwind components;
@tailwind utilities;

.mt-8 {
    margin-top: 80px;
}

.containers {
    width: 100%;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #eae6e6;
}

::-webkit-scrollbar-thumb {
    background: #ed4c5a;
}


.footerSuBcontainer {
    display: flex;
    justify-content: space-between;
    width: 70%;
    height: 80%;
    margin-top: 40px;
}

.header-logo {
    background-color: white;
    height: fit-content;
}

.serchBar {
    position: absolute;
    top: 200px;
    left: 25%;
    height: 50px;
    display: flex;
    justify-content: center;
    width: 50%;

}

.serchBar input {
    width: fit-content;
    padding-left: 10px;
    outline: none;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 50%;
}

.searchlogo {
    background-color: rgb(241, 60, 60);
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.booking-detail-container {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.booking-subdetails-container {
    width: 80%;
    padding-top: 50px;
}

.stepbar {
    margin-top: 71px;
}

.bookingdeatils {
    margin-top: 50px;
}

.booking_timing {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    width: 100%;
}

.salon-list {
    width: 35%;
    border-radius: 5px;
}

hr {
    margin-top: 40px;
    border: 1px solid white;
}

.total_amount_details {
    
}

.total_flex {
    display: flex;
    width: 70%;
    justify-content: space-between;
    position: relative;
    left: 10%;
}

.payment {
    margin-top: 71px;
}

.verticle_line {
    height: 100vh;
    width: 2px;
    background-color: rgb(222, 53, 90);
}

.promocode_input {
    background-color: rgb(218, 219, 220);
    padding-left: 5px;
    border: none;
    outline: none;
    height: 40px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.promo_btn {
    height: 40px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: white;
    font-weight: 700;
    padding-left: 5px;
    padding-right: 5px;
}

.top-trending-services {
    display: flex;
    justify-content: center;
}

.artist_center {
    display: flex;
    justify-content: center;
}


.Service-info {
    min-width: 300px;
    animation-name: slideInBox;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-delay: 0.01s;
    animation-iteration-count: infinite;
    /* animation-direction: alternate; */
    /* animation: slideInBox 15s forwards infinite; */
}
.Service-info:hover{
    
}
@keyframes slideInBox {
    0% {
        transform: translateX(550%);
    }


    100% {
        transform: translateX(-580%);
    }
}


.services-box {
    display: flex;
    overflow-x: hidden;
}

.artist-full-details {
    margin-top: 71px;
}

.salon_partner {
    display: flex;
    justify-content: center;
}

.salon-sup-container {}

.search {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* height: 30px; */
    background-color: rgb(223, 215, 215);
    padding: 4px;
    border-radius: 20px;

}

.search input {
    background-color: rgb(223, 215, 215);
    padding: 5px;
    border: none;
    outline: none;
}

/* .services-box {
    animation: scroll 20s linear infinite; 
  } */
@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}